<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/templates/css/ee.css}"
        href="../../css/ee.css?after" rel="stylesheet">
  <title>List of Questions</title>
</head>
<body>

<div class="header">
  <div>Site Name or Logo</div>
  <div>
    welcome, <a th:text="${loggedInMember ?: 'Guest'}" href="/changeUserInfo">Guest</a>
    <button th:if="${loggedInMember != null}" th:onclick="|location.href='@{/logout}'|" class="logout-button">Logout</button>
    <button th:unless="${loggedInMember != null}" th:onclick="|location.href='@{/login}'|" class="login-button">Login</button>
  </div>
</div>

<div class="navigation">
  <a href="#" class="nav-link">답변한 질문</a>
  <a href="#" class="nav-link">답변하기 전 질문</a>
</div>

<div class="questions-container">
  <a class="ask-question-button" th:href="@{'/post/' + ${userId} + '/ask'}">질문하기</a>
  <div class="question" th:each="post : ${posts}">
    <div class="question-title" th:text="${post.title}">Title 1</div>
    <div class="question-body" th:text="${post.getQuestion}">This is the body of question 1.</div>
    <div class="additional-info" th:text="${post.getAnswer}">Additional info for question 1.</div>
  </div>
</div>

</body>
</html>