<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/style.css}"
        href="../../../static/css/style.css?after" rel="stylesheet">
  <title>질문</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
</head>
<body>

<div class="header">
  <a href="https://twkwon0417.shop">
    <img src="/images/logo.png" width="50px" alt="logo">
  </a>
  <div>
    welcome, <a th:if="${loggedInMember != null}" th:text="${loggedInMember}" href="/changeUserInfo">Guest</a>
    <a th:unless="${loggedInMember != null}" href="#">Guest</a>
    <button id="copy-button" th:attr="data-clipboard-text=${link}">내 주소 복사</button>
    <button th:if="${loggedInMember != null}" th:onclick="|location.href='@{/logout}'|" class="logout-button">Logout</button>
    <button th:unless="${loggedInMember != null}" th:onclick="|location.href='@{/login}'|" class="login-button">Login</button>
  </div>
</div>

<div class="navigation">
  <a href="/post/myPage" class="nav-link">답변한 질문</a>
  <a href="/post/myPage/unanswered" class="nav-link">답변하기 전 질문</a>
</div>

<div th:each="post : ${posts}" class="questions-container">
  <div class="question">
    <div class="question-title" th:text="${post.title}">Title 1</div>
    <div class="question-body" th:text="${post.getQuestion}">This is the body of question 1.</div>
    <div class="additional-info" th:text="${post.getAnswer}">Additional info for question 1.</div>
    <button th:onclick="|location.href='@{'/post/myPage/delete/' + ${post.getId}}'|" class="delete-button">X</button>
  </div>
</div>
<script th:inline="javascript">
  new ClipboardJS('#copyButton');

  document.getElementById('copyButton').addEventListener('click', function() {
    alert('복사 되었습니다');
  });
</script>
</body>
</html>