@charset "utf-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.header a {
    color: white;
}

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: #999;
    padding: 10px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 8px;
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.questions-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.question {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.question-title {
    font-weight: bold;
    margin-bottom: 8px;
}

.question-body {
    margin-bottom: 8px;
}

.additional-info {
    color: #666;
    border-top: 1px solid #ccc;
    padding-top: 8px;
    margin-top: 8px;
}

.textarea-input {
    width: 100%;
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
}

.send-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button,
.login-button {
    background-color: #e44d26;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#copy-button {
    background-color: blueviolet;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.nav-link:last-child {
    border-right: none;
}

.nav-link:first-child {
    border-left: none;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #e44d26;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 40%;
    cursor: pointer;
    font-size: 14px;
}

.ask-question-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.ask-question-button:hover {
    background-color: #45a049;
}

.ask-question-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.ask-question-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.member-form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.member-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.member-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.member-button:hover {
    background-color: #45a049;
}

.error {
    color: #ff0000;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.success {
    color: #008000;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

.login {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
}

.login-form-group {
    margin-bottom: 15px;
}

.login-form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form-group button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-form-group button:hover {
    background-color: #45a049;
}

.forgot-password,
.sign-up {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a,
.sign-up a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover,
.sign-up a:hover {
    text-decoration: underline;
}