<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}"
          href="../../static/css/style.css?after" rel="stylesheet">
    <title>Change User Info</title>
</head>
<body>

<div class="header">
    <a href="https://twkwon0417.shop">
        <img src="/images/logo.png" width="50px" alt="logo">
    </a>
    <div>
        welcome, <a th:if="${loggedInMember != null}" th:text="${loggedInMember}" href="/changeUserInfo">Guest</a>
        <a th:unless="${loggedInMember != null}" href="#">Guest</a>
        <button th:onclick="|location.href='@{/logout}'|" class="logout-button">Logout</button>
    </div>
</div>

<h2>Change User Info</h2>

<form class="member-form" action="/changeUserInfo" method="post" th:object="${changeInfoDto}">

    <div class="error" th:errors="*{password}">
        비밀번호 오류
    </div>
    <label for="password">Password:</label>
    <input class="member-input" type="password" id="password" name="password" th:field="*{password}" th:value="*{password}" required>

    <div class="error" th:errors="*{name}">
        이름 오류
    </div>
    <label for="name">Name:</label>
    <input class="member-input" type="text" id="name" name="name" th:field="*{name}" th:value="*{name}" required>

    <div class="error" th:errors="*{eMail}">
        비밀번호 오류
    </div>
    <label for="eMail">Email:</label>
    <input class="member-input" type="email" id="eMail" name="eMail" th:field="*{eMail}" th:value="*{eMail}" required>

    <div class="error" th:errors="*{phoneNumber}">
        비밀번호 오류
    </div>
    <label for="phoneNumber">Phone Number:</label>
    <input class="member-input" type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" th:value="*{phoneNumber}" required>

    <button class="member-button" type="submit">Save Changes</button>
</form>
</body>
</html>