<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/templates/css/ee.css}"
          href="../css/ee.css?after" rel="stylesheet">
    <title>Login Page</title>
</head>
<body class="login">

<div class="login-container">
    <h2>Login</h2>
    <form action="/login" method="post" th:action="@{/login}" th:object="${loginDto}">
        <div th:if="${#fields.hasGlobalErrors()}" class="error">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>
        <div class="error" th:errors="*{loginId}">
            아이디 오류
        </div>
        <div class="login-form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:field="*{loginId}" required>
        </div>
        <div class="error" th:errors="*{password}">
            비밀번호 오류
        </div>
        <div class="login-form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}" required>
        </div>
        <div class="login-form-group">
            <button type="submit">Login</button>
        </div>
    </form>
    <div class="forgot-password">
        <a href="/findPassword">Forgot Password?</a>
    </div>
    <div class="sign-up">
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
</div>

</body>
</html>
