<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/templates/css/ee.css}"
          href="../css/ee.css?after" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body>
<h2>Sign Up</h2>

<form class="member-form" action="/signup" method="post" th:action th:object="${signUpDto}">
    <div th:if="${#fields.hasGlobalErrors()}" class="error">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
    </div>

    <div class="error" th:errors="*{loginId}">
        아이디 에러
    </div>
    <label for="id">ID:</label>
    <input class="member-input" type="text" id="id" name="loginId" th:field="*{loginId}" required/>

    <br/>

    <div class="error" th:errors="*{password}">
        비밀번호 오류
    </div>
    <label for="password">Password:</label>
    <input class="member-input" type="password" id="password" name="password" th:field="*{password}" required/>

    <br/>

    <div class="error" th:errors="*{name}">
        이름 오류
    </div>
    <label for="name">Name:</label>
    <input class="member-input" type="text" id="name" name="name" th:field="*{name}" required/>

    <br/>

    <div class="error" th:errors="*{eMail}">
        이메일 오류
    </div>
    <label for="email">Email:</label>
    <input class="member-input" type="email" id="email" name="email" th:field="*{eMail}" required/>

    <br/>

    <div class="error" th:errors="*{phoneNumber}">
        전화번호 오류
    </div>
    <label for="phoneNumber">Phone Number:</label>
    <input class="member-input" type="tel" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" required/>

    <br/>

    <button class="member-button" type="submit">Sign Up</button>

</form>
</body>
</html>